$primary-color: rgb(181, 65, 108);
$bottom-shadow: 0px 3px 5px rgba(0, 0, 0, 0.19);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nodisplay {
  display: none;
}

header {
  padding: 5px;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: $primary-color;
  position: fixed;
  z-index: 99;
  box-shadow: $bottom-shadow;

  input {
    height: 100%;
    margin-right: 25px;
    font-size: 1.75rem;
    border-radius: 5px;
    background: $primary-color;
    border-style: none;
  }

  input:focus {
    background: white;
    outline: none;
  }

}

header:focus-within {
  background: white;
}

main {
  display: grid;
  grid-row-gap: 15px;
  width: 80%;
  margin: auto;
  position: relative;
  top: 20vh;
  margin-bottom: 15px;
  
  &.triple {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.double {
    grid-template-columns: 1fr 1fr;
  }

  div.card {
    border: solid 1px rgba(0, 0, 0, 0.19);
    box-shadow: $bottom-shadow;
    border-radius: 5px;
  }

  div.repo-div {
    padding: 10px;
    
    section {
      display: flex;
      margin-top: 15px;

      a:nth-child(1) {
        padding-right: 10px;
      }

      a:nth-child(2) {
        padding-left: 10px;
        border-left: solid 1px #000;
      }

      p {
        margin-left: auto;
        margin-right: 15px;
        color: rgb(107, 100, 100);
      }
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  div.fork-div {
    padding: 10px;

    pre {
      padding: 10px 0;
      max-height: 40vh;
      overflow: auto;
    }

    form {
      display: flex;
      flex-direction: column;
      padding-top: 10px;

      div {

        label {
          color: grey;
          font-size: 0.75rem;
        }

        input {
          border: none;
          height: 20px;
          width: 100%;
          outline: none;
          border-bottom: solid 1px rgba(0, 0, 0, 0.19);
        }
      }

      section.radios {
        margin: 10px 0;

        section {
          display: flex;
          align-items: center;  
          color: grey;
  
          i {
            padding-left: 5px;
          }
        }
      }
      button[type=submit] {
        width: 50px;
        height: 30px;
        background: #27A599;
        color: white;
      }
    }

    div.comments {

      article {
        margin: 10px 0;
        border-bottom: solid 1px grey;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        color: rgb(96, 96, 96);
        
        &:first-child {
          font-weight: bold;
          font-size: 1.25rem;
          color: rgb(50, 49, 49);
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }
}