$primary-color: rgb(181, 65, 108);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 5px;
  padding-bottom: 5px;
  width: 100vw;
  height: 7.5vh;
  background-color: $primary-color;

  input {
    width: 97%;
    height: 100%;
    font-size: 1.75rem;
    border-radius: 5px;
    background: $primary-color;
    border-style: none;
  }

  input:focus {
    background: white;
  }

}